.nice-colour{
    background-color: rgb(206, 73, 152);
    opacity: 0.6;
}

#main_header{
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 35vh;
}

.max_dim{
    max-width: 30%;
}

img{
    border-radius: 50%;
}

.button:hover {
    background-color: rgb(79, 129, 134); 
    color: white;
  }

.link_it:link, .link_it:visited {
text-decoration: none;
color: black;
}
.link_it:hover{
    color: white;
}

.footer-main {
    border-top: 1px solid #5e5f62;
    padding: 40px 0;
    margin: 40px 0 0;
    font-size: 1.3rem;
    color: rgb(0, 255, 0);
    font-weight: 400;
    text-align: center;
    position: relative;
}

.footer-main:before {
    display: block;
    content: " ";
    width: 7px;
    height: 7px;
    border: #aaa 1px solid;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    background: rgba(113, 234, 187, 0.5);
    box-shadow: rgba(113, 234, 187, 0.5) 0 0 0 5px;
    border-radius: 4px;
}